# Replace myservice1.myinstitute.org with the custom domain of your node API
myservice1.myinstitute.org {
    reverse_proxy api:8000
}

# Replace myservice2.myinstitute.org with the custom domain of your federation API
myservice2.myinstitute.org {
    reverse_proxy federation:8000
}

# Replace myservice3.myinstitute.org with the custom domain of your query tool
myservice3.myinstitute.org {
    reverse_proxy query_federation:5173
}