name: Test deployment recipe workflow

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 6,18 * * *'

jobs:
  latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up full_stack
        uses: ./.github/actions/test-setup
